Flask==2.3.2
tensorflow==2.12.0
keras==2.6.0
pandas==2.0.0
numpy==1.23.5
regex==2023.3.23
Python==3.9.16
scikit-learn==1.2.2
Pillow==9.4.0
nltk==3.8.1
pip==23.0.1
tokenizers==0.13.3
pickle==4.0
black
click
urllib3==1.21.1
certifi
chardet
gunicorn
idna
requests
Werkzeug
pickle5