<!DOCTYPE html>
<html>
    <head>
        <title>Image Detection</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    </head>

    <body>
        <div class="main_code">
            <h1>IMAGE CLASSIFICATION MODEL</h1>
            <h2>This Model can Predict The Images Of</h2>
            <h3>1.Airplane  2.Automobile  3.bird  4.cat  5.deer 6.dog 7.frog 8.horse 9.ship 10.truck</h3>
            <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload Text="Send Image">
            </form>
            <br>
            <br>
            {% if filename %}
                <div>
                    <img src="{{ url_for('static', filename='/Images/'+filename) }}" width="500" height="300">
                </div>
            {% endif %}
            <br>
            <br>
            {% if model_output %}
            <h2>{{ model_output }}</h2>
            {% endif %}
        </div>
    </body>
</html>
